@import 'tailwindcss';
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/legacy";
@source "../node_modules/@skeletonlabs/skeleton-svelte/dist";
@plugin '@tailwindcss/forms';

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant contenteditable (&:is([contenteditable]));

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility card-filled {
  @apply card;
  background-color: var(--color-surface-50-950);
  color: var(--color-surface-contrast-50-950);
}
@utility preset-input-error {
  background-color: var(--color-error-100);
  color: var(--color-error-900);
  --tw-ring-color: var(--color-error-900);
  /* To deal with comboboxes */
  & > * {
    border-color: var(--color-error-900);
  }
}
@utility preset-ui-ready {
  border-width: 1px;
  border-color: var(--color-surface-500);
  &:hover {
    border-color: var(--color-primary-500);
  }
}
@utility preset-ui-depressed {
  background-color: var(--color-surface-100-900);
  color: var(--color-surface-contrast-100-900);
}
@utility preset-ui-activated {
  background-color: var(--color-primary-500);
  color: var(--color-primary-contrast-500);
}

@utility btn-icon-std {
  @apply btn-icon;
  font-size: var(--text-xl);
  width: var(--text-xl);
  height: var(--text-xl);
  padding: calc(var(--spacing) * 2);
}
@utility editable-std {
  @apply hover:bg-surface-500/25 focus:bg-surface-500/25 transition-[background-color,font-size];
  border-radius: 0.25rem;

  @variant empty {
    cursor: text;
    &::before {
      content: attr(placeholder);
      opacity: 0.75;
      font-style: italic;
    }
  }
}